.lineGroup > path {
    fill: none;
    stroke: darkred;
    stroke-width: 2px;
}

.lineGroupWithSin > path {
    fill: none;
    stroke: darkblue;
    stroke-width: 2px;
}

circle{
    fill:white;
    stroke:steelblue;
    stroke-width: 2px;
}