.lineGroup > path {
    fill: none;
    stroke: darkred;
    stroke-width: 2px;
}

.lineGroupWithSin > path {
    fill: none;
    stroke: darkblue;
    stroke-width: 2px;
}

circle{
    fill:white;
    stroke:steelblue;
    stroke-width: 2px;
}

.lineChart , .lineChartWithCircles{
    width:200px;
    margin-left: 20px;
    height: 30px;
    border-radius: 5px;
}