path{
    fill: none;
}

circle{
    fill: white;
    stroke-width: 2px;
    stroke: steelblue;
}

.areaChart{
    fill:lightsteelblue;
    opacity: 0.5;
}

.lineChart{
    stroke: steelblue;
    stroke-width: 2px;
}